.task_row {
  display: flex;
  gap: 20px;
  padding: 16px 20px;
  border-bottom: 1px solid #000;
  transition: all 0.2s ease;
  margin-bottom: 4px;
  white-space: nowrap;
}

.task_row:hover {
  background-color: #f9fafb;
  transform: translateX(4px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.task_checkbox {
  width: 20px;
  height: 20px;
  margin-left: 16px;
  flex-shrink: 0;
}

.task_info {
  flex: 0.9;
  padding-left: 50px;
}

.task_date,
.task_priority,
.task_category {
  width: 100px;
  text-align: center;
}

.task_date {
  margin-right: 10px;
}

.task_priority {
  margin-right: 10px;
}

.task_title.completed {
  text-decoration: line-through;
  color: #9ca3af;
  opacity: 0.6;
}

.task_delete {
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}
