.Layout {
  display: flex;
  width: 1500px;
  height: 900px;
}

.main_content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content_area {
  background-color: #d1d5db;
  flex: 1;
}
