.Sidebar {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  background-color: #2d3748;
  color: white;
  max-height: 100%;
}

.Sidebar > h2 {
  color: #60a5fa;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 1000;
  font-size: 26px;
  text-transform: uppercase;
}

.menu_bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.menu_bar button {
  color: #9ca3af;
  text-align: left;
  padding-left: 20px;
  font-size: 32px;
  font-family: "Nanum Pen Script", cursive;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.menu_bar button:hover {
  transform: translateX(10px) scale(1.05);
  transition: all 0.3s ease;
  background-color: #374151;
}

.profile_bar {
  margin-top: auto;
}
